@font-face {
    font-family: 'Afolkalips';
    src: url('Afolkalips.ttf');
	
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cloudsters";
    src: url("Cloudsters.otf"); 

    font-weight: normal;
    font-style: normal;
}